#barchart,
#linearchart,
#scatterPlot, #pieChart, #activityGauge {
    height: 500px;
    position: relative;
    // padding: 15px;
}

.chartPicker {
    margin: 20px;
}

.chartDisplay {
    margin: 0 50px;
}